.logo {
    transition: all 1s ease-out 500ms;
    transform: translateY(0);
    opacity: 1;
    @starting-style {
        transform: translateY(-1rem);
        opacity: 0;
    }
}

/* .fSuosw:not(:first-of-type), .fSuosw button {
    display: none !important;
} */

.product-image ~ .fSuosw:not(:first-of-type),
.product-image ~ .fSuosw button {
    display: none !important;
}

.file-input + div span {
    color: #aaaaaa;
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
}

/* .gVyYwV, .cgiLzR {
    visibility: hidden !important;
} */

/* .cgiLzR button {
    visibility: hidden !important;
} */
